{% extends 'join/base.html.twig' %}
{% block header %}
    <h1 class="h1-responsive text-center"> {{ 'Wir prüfen ob Sie die Jitsi-Meet Electron App installiert haben'|trans }}</h1>
{% endblock %}
{% block content %}

    <style>
        .animate_loader {
            background: #fff;
            border-radius: 60px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
            margin: -5px auto;
            width: 50px;
        }

        .animate_loader:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .animate_loader .circular {
            animation: rotate 2s linear infinite;
            height: 100%;
            transform-origin: center center;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .animate_loader .path {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
            stroke-linecap: round;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes dash {
            0% {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
            }
            50% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -35;
            }
            100% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -124;
            }
        }

        @keyframes color {
            100%, 0% {
                stroke: #9c0;
            }
            50% {
                stroke: #FF9300;
            }
        }
    </style>

    <div class="offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 text-center">
        <a href="{{ urlBrowser }}" class="btn btn-outline-primary mt-3 mb-3">{{ 'Im Browser beitreten'|trans }}</a>

        <div class="progress-container">


            <div class="progress-materializecss">
                <div class="indeterminate"></div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    <script>

        var now = new Date().valueOf();
        var isAsking = false;
        var timer = setTimeout(function () {
            console.log(new Date().valueOf() - now);
            if (new Date().valueOf() - now > 10001) {
              window.close();
            }
        }, 10000);

            window.location = "{{ urlApp }}";

        window.addEventListener("blur", function () {
            isAsking = true;
            var timer = setTimeout(function () {
                window.close();
            }, 10000);

        })
        window.addEventListener("focus", function () {
            if (isAsking){
                window.location = "{{ urlBrowser }}";
            }

        })

    </script>
{% endblock %}